<%= form_with url: student_lessons_schedule_enter_path , method: :get do |form| %>
  <div class="row">
    <div class="col">
      <div class="search">
        <%= form.label :lesson_type, "수업 길이 선택:" %>
        <%= form.select :lesson_type, [["20분", 1], ["40분", 2]], selected: 1  %>
        <br><br>
        <%= form.label :select_date, "날짜 선택:" %>
        <%= form.date_field :select_date, min: @today, value: @today %>
        <br><br>
        <%= form.label :tutor, "튜터 선택:" %>
        <%= form.collection_select :tutor, @tutors, :id, :name, :include_blank => "All" %>
      </div>
    </div>
    <div class="col" style="padding-top: 80px">
      <%= form.submit class:"btn btn-outline-dark" %>
    </div>
  </div>
<% end %>