<div class="row">
  <div class="col col-4">
    <div class="col">
      <div class="row">
        <%= render "schedule_by_all" %>
      </div>
    </div>
  </div>
  <br>
  <div class="col col-6">
    <table class="bbs_table">
      <thead>
      <tr>
        <th scope="col">튜터 이름</th>
        <th scope="col">요일</th>
        <th scope="col">날짜</th>
        <th scope="col">수업 시작 시간</th>
        <th scope="col">가능 여부</th>
        <th scope="col">예약 버튼</th>
      </tr>
      </thead>
      <% if @schedules %>
        <tbody>
          <% @schedules.each do |schedule| %>
            <tr>
              <td> <%= schedule['tutor_name'] %> </td>
              <td> <%= schedule['wday'] %> </td>
              <td> <%= schedule['date'] %> </td>
              <td> <%= schedule['time'] %> </td>
              <% if schedule['active'] === 1 %>
                <td style="background-color:lightgreen"> Available </td>
                <td><%= button_to '예약하기', student_lessons_schedule_enter_path, method: :post, params: {tutor_id: schedule["tutor_id"], lesson_type: @lessons_type, start_time: schedule["start_time"], user_id: current_user.id} %></td>
              <% else %>
                <td style="background-color:lightgray"> Unavailable </td>
                <td>예약 할 수 없음</td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      <% else %>
        <tbody>
          <tr> <td>조회 데이터가 없습니다. </td> </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>